*
{
	margin:0px;
}

body
{
	font-family: tahoma,verdana,sans-serif;
	font-size: 25px;
	color: white ;
	background-image:url(Images/black.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	
	
}

h1
{
	text-align:center;
	margin-top:55px;
	padding-bottom:75px;
	padding-top:0px;
	font-weight:bold;
	font-style:italic;
}

.liste
{
	width:max-content;
	margin-left:150px;
	padding-top:0px;
	padding-bottom:30px;
	padding-left:30px;
}

p,.semaine,pre
{
	width:850px;
	margin:auto;
	text-align:justify;
	padding-top:50px;
	line-height:150%;
	
}

h2,h4
{
	width:850px;
	margin:auto;
	text-align:justify;
	padding-top:50px;
	font-weight:bold;
}

.infos
{
	width:auto;
	margin-left:150px;
	padding:30px;
}

li
{
	padding:5px;
}

.intro
{
	padding-top:40px;
}

.clustering
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width:850px;
	padding:40px;
}

.fourmi
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width:500px;
	padding:40px;
}

.fin
{
	padding-bottom:100px;
	padding-top:25px;
}

.formule1
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	padding:5%;
}


.formule2
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:35%;
	padding:5%;
}

a
{
	color:blue;
}

.semaine li
{
	padding-bottom:20px;
}

.sommaire li
{
	list-style-type:upper-roman;
}

.courbe0
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	height:auto;
	width:900px;
	padding:40px;
}

.cas

{
	font-weight: bold;
}
